.password-modal-content {
  width: 25%;
}

.password-input {
  width: 100%;
  font-size: 2em;
  text-align: center;
  box-sizing: border-box;
}

.password-prompt {
  text-align: center;
  font-size: 1.5em;
  font-weight: 700;
}
