.password-modal-content {
  width: 25%;
}

.password-input {
  width: calc(100% - .5em);
  font-size: 2em;
  text-align: center;
  box-sizing: border-box;
  margin: .25em;
}

.password-prompt {
  text-align: center;
  font-size: 1.5em;
  font-weight: 700;
}
